<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286078898737-vi7psokvc3meatj8odo197jh5l2r9o3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286078898737-vi7psokvc3meatj8odo197jh5l2r9o3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBvYdZPYAmKDA6G3OvmfwV-3EMI5nX_OxE</string>
	<key>GCM_SENDER_ID</key>
	<string>286078898737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axactstudios.developersconsole</string>
	<key>PROJECT_ID</key>
	<string>developers-task-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>developers-task-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286078898737:ios:d2f49cdc0e90272c27bb10</string>
	<key>DATABASE_URL</key>
	<string>https://developers-task-manager.firebaseio.com</string>
</dict>
</plist>